@using Web.Models.Bonuses
@model IEnumerable<BonusDto>
@{
    ViewBag.Title = "Index";
}
<h2>
    Bonuses</h2>
<p>
    @Html.ActionLink("Create New Bonus", "Create")
</p>
<div>
    <div id="bonusesGrid">
    </div>
    <div id="employee-view">
        <input id="employee" />
    </div>
</div>
<script type="text/javascript" language="javascript">
        $(document).ready(function () {
        
//            $.ajax({
//              url: "@Url.Action("GetPagedJsonBonuses", "Bonuses")",
//              async: false,
//              dataType: 'json',
//              success: function (json) {
//                  testdata = json;
//              }
//            });
            
                
            //NOTE:
            // this a hack. I didn't find the answer  how to bind employee's
            // id and name from combobox.EmployeeId to selected row's model.EmployeeId
            var newEmployeeId;
            var newEmployeeName;
            function setNewEmployeeIdAndName(id, name) {
                newEmployeeId = id;
                newEmployeeName = name;
            }
            

           var employeesDataSource = new kendo.data.DataSource({
                type: "json",
                serverFiltering : true,
                transport: {
                    read: "@Url.Action("GetJsonEmployeesByLastName", "Bonuses")", 
                },
                parameterMap: function (options, operation) {
                        if (operation === "update" || operation === "create") {
                            setNewEmployeeIdAndName(options.Id, options.LastName);
                        }
                        return options;
                    },

                schema : {
                    model:{id : "EmployeeId",
                           fields: {
                                LastName: {type : "string", 
                                    editable: true, 
                                    nullable: false, 
                                    validation: { required: {message: "Employee's last name is required"}}
                                }} 
                    }
                }
            });
            //$('<input required data-text-field="LastName" data-value-field="EmployeeId" data-bind="value:' + options.field + '"/>')
            function employeeComboboxEditor(container, options) {
                    $('<input data-bind="value:' + options.field + '"/>')
                        .appendTo(container)
                        .kendoComboBox({     
                            dataTextField: "LastName",
                            dataValueField: "EmployeeId",
                            filter: "contains",
                            change: function(e) {
                                        if(this.value() !== undefined && this.text() !== undefined)
                                        setNewEmployeeIdAndName(this.value(),this.text()); // set's the local variables to update values of current row.
                                    },
                            dataSource: employeesDataSource
                        });
                }
          
            
            // bind json result from /Bonuses/GetPagedJsonBonuses
            var bonusesDataSource = new kendo.data.DataSource({
                transport: {
                    type: "json",
                    read: "@Url.Action("GetPagedJsonBonuses", "Bonuses")",
                    update: { 
                                url: "@Url.Action("Edit", "Bonuses")",
                                type: "PUT"
                            },
                    create: {
                            url: "@Url.Action("Create", "Bonuses")",
                            type: "POST"
                    },
                    parameterMap: function (options, operation) {
                        if (operation === "update" || operation === "create") {
                            var d = new Date(options.Date);
                            // correct format for conversion 
                            options.Date = kendo.toString(d, "MM/dd/yyyy");

                            options.EmployeeId = newEmployeeId;
                            
                        }
                        return options;
                    }
                },
                pageSize: 15,
                serverPaging: true,
                schema: {
                    data: "Data", // PagedResponse.Data
                    total : "TotalCount", // PagedResponse.TotalCount
                    model: {id: "BonusId",  // Data
                        fields: {
                            EmployeeId : {type: "number"},
                            EmployeeLastName: {type : "string", 
                                editable: true, 
                                nullable: false, 
                                validation: { required: {message: "Employee's last name is required"}}
                            },
                            Date : {type:"date", editable: true, nullable:false,validation: { required: true}},
                            Amount: {type: "number", editable: true, nullable:false,validation: { required: true}},
                            Comment: {type : "string", editable: true, nullable: false, validation: { required: true}},
                            isAcrive : {type: "boolean", editable: true},
                            Ulc : {type : "string", editable: false},
                            Dlc : {type : "date", editable:false}
                            
                        } // fields
                    } // model
                }// schema 
            }); 

            // creates grid control
            $("#bonusesGrid").kendoGrid({
                dataSource:  bonusesDataSource,
                pageable: true,
                toolbar: ["create"],
                editable: "inline",
                columns: [
                    {
                        field: "BonusId",
                        hidden: true
                    },
                    {
                        field: "EmployeeId",
                        hidden: true
                    },
                    {   field: "EmployeeLastName",
                        title: "Employee",
                        editor: employeeComboboxEditor,
                        template: "#=EmployeeLastName#"
                    },
                    "Amount",
                    {
                        field: "Date",
                        template: '#= kendo.toString(Date,"MM/dd/yyyy") #' 
                    },
                    "Comment",
                    {
                        field: "isActive",
                        title: "Active"
                    }, {
                        field: "Ulc",
                        title: "ULC"
                    }, {
                        field: "Dlc",
                        title: "DLC",
                        template: '#= kendo.toString(Dlc,"MM/dd/yyyy") #' 
                    },
                    { command: ["edit"], title: " " }
                ],
                save: function (e) {
                    if(newEmployeeId !== undefined && newEmployeeName!== undefined) {
                        e.model.EmployeeId = newEmployeeId; // it's a hack to bind model and combobox
                        e.model.EmployeeLastName = newEmployeeName;
                    }
                }
            });
            



           

 


            
        }); // end of ready function
</script>
</div> 